
.hoteis-container {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
}

.titulo-secao {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 30px;
}


.grid-hoteis {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}


.card-hotel {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.card-hotel:hover {
    transform: translateY(-10px);
}


.foto-hotel {
    height: 200px;
    background-size: cover;
    background-position: center;
}


.info-hotel {
    padding: 20px;
    text-align: left;
}

.info-hotel h3 {
    margin: 0 0 10px 0;
    color: #2c3e50;
}

.info-hotel p {
    color: #7f8c8d;
    font-size: 0.9rem;
    line-height: 1.4;
}


.preco {
    margin: 20px 0;
    color: #27ae60; 
}

.cifrao {
    font-size: 0.9rem;
    vertical-align: top;
}

.valor {
    font-size: 1.8rem;
    font-weight: bold;
}

.noite {
    font-size: 0.8rem;
    color: #95a5a6;
}


.btn-reservar {
    display: block;
    text-align: center;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-reservar:hover {
    background-color: #2980b9;
}
#video-fundo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000; 
    transform: translate(-50%, -50%); 
    object-fit: cover; 
    filter: brightness(0.8) saturate(1.2); 
}