* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 18px;
    border-radius: 25px;
    transition: 0.3s;
}

nav ul li a:hover {
    background: #0000ff;
    color: black;
}


.menu-toggle {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}


@media (max-width: 768px) {

    nav {
        position: absolute;
        top: 70px;
        right: 0;
        background: rgba(0, 0, 0, 0.9);
        width: 200px;
        display: none;
        border-radius: 10px;
    }

    nav ul {
        flex-direction: column;
        padding: 20px;
    }

    nav ul li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
}
footer {
    background: #007BFF; 
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 10; 
}